*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}

ul{
    list-style: none;
    margin-top: 0px;
}

body{
    background-image: url(https://images.unsplash.com/photo-1497294815431-9365093b7331?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.nav-list li{
    display: inline;
    margin: 10px; 
    color: white;
}

img[alt="user-image"]{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 10px; 
}

.wrapper{
    /* border: 1px solid red; */
    margin-top: 80px;
}

.main-logo{
    text-align: center;
}

.logo-text{
    font-size: 120px;
    font-weight: 800;
   color: white;
}

.search-bar{
    /* border: 1px solid red; */
    width: max-content;
    background-color: white;
    padding: 8px 20px;
    border-radius: 50px;
    margin: 10px auto;

}

.fa-search{
    cursor: pointer;
}

.search-bar input{
    border: none;
    outline: none;
    width: 400px;
    height: 22px;
    padding-left: 15px; 

}

.bookmark{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.bookmark .icon{
    /* border: 1px solid red; */
    /* text-align: center; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 164, 244);
    margin: 0px auto;
}

.icon span{
    /* border: 1px solid red; */
    width: 23px;
    height: 23px;
    border-radius: 20px;
    padding-left: 7px;
}


.icon-wrapper{
    /* border: 1px solid red; */
    width: max-content;  
    margin: 0px 25px;
}

.bookmark .text{
    margin-top: 15px;
}
