*{
    margin: 0;
    padding: 0;
}
.mona{
     width: 500px;
    height: 500px;
    margin-top: 50px;
    align-items: center; 
    margin-left: 400px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px #000;
    outline: none;
    border-radius: 10px;

}
body{
    background-image: url(https://e0.pxfuel.com/wallpapers/106/832/desktop-wallpaper-pink-simple-background-page-3-light-pink-simple.jpg);
     background-size: cover; /* This property ensures that the background image covers the entire body */
            background-repeat: no-repeat; /* Set to 'no-repeat' to display the background image only once */
            height: 100vh; /* This ensures that the body takes up the full height of the viewport */
            margin: 0; 
}
.mona2{
    justify-content: space-between;
}
#name{
    width: 390px;
    height: 20px;
}
#country{
    margin-left: 50px;
    padding: 20px;
  display: flex;
}


.alt2{
    margin-left: 50px;

}
.su{
    text-align: center;
    margin-right: 30px;
}




